* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 12% 25%; 
    max-height: 100vh; 
    accent-color: #C04641; 
}
form>* {
    margin: 20pt;
}

.results {
    margin-left: 20pt;
}

button {
    font-family: 'Source Code Pro', monospace;
    font-size: 16pt;
    padding: 0.5rem;
    background-color: #C04641;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0.75rem;
    max-width: 250px; 
    width: 40%;
}

button:hover {
    background-color: #90a959ff;
    color: white;
}

button:active {
    background-color: #e9b872ff;
}

h1 {
    font-size: 20pt;
    font-weight: 700;
}
h2 {
    font-size: 15pt; 
}

.results {
    display: none;
}
